<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <title>Sorry, the page not found</title>

    <meta name="description" content="I'm Mani Kandan. I'm working as a student and a software tester at uTest.">
    <meta property="og:url" content="https://www.oxonio.studio" />
    <meta property="og:title" content="Oxonio | Shapping the Future" />
    <meta property="og:description" content="Oxonio is an IT based company which provides many services and product for small business to grow more on Market" />
    <meta property="og:image" content="/static/img/Oxonio%20Logo.png" />
</head>

<body>
    <h1>Error 404: The page not found</h1>
    <img src="../static/img/download.jpg" alt="Error">
</body>

</html>