<!DOCTYPE html>
<html>

<head>
	<title><%- title -%></title>
</head>

<body>
	<h1><%- exampleMessage -%></h1>
    <p>Contact us : <a href="mailto:oxoniocompany@gmail.com">oxoniocompany@gmail.com</a></p>
</body>

</html>